<div class="card" >

  <div class="card-header text-center">
    <span>Ajouter Categorie</span>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="md-col-8">
        <form #f="ngForm">
          <div class="form-group">
            <input class="form-control" type="text" name="nom" placeholder="Nom de la catégorie" [(ngModel)]="categorie.nom" id="nom">
          </div>
          <bouton class="btn btn-success" type="submit" (click)="AjouterCategorie()">Ajouter</bouton>
        </form>
      </div>
    </div>
  </div>
</div>

