<!-- <div class="humberger__menu__overlay"></div> -->
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="#" class="logo">Tsawa9</a>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
      <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active" >
        <i class="fa fa-shopping-bag"></i> <span> {{cartService.getCurrentCart().items.size}}</span></a></li>
    </ul>
    <div class="header__cart__price">item: <span>$150.00</span></div>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__language">
      <img src="assets/img/language.png" alt="" />
      <div>English</div>
      <span class="arrow_carrot-down"></span>
      <ul>
        <li><a href="#">Spanis</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </div>
    <div class="header__top__right__auth">
      <a *ngIf="!authService.userAuthenticated"  [routerLink]="['/login']" ><i class="fa fa-user"></i> Login</a>
      <a *ngIf="authService.userAuthenticated" [routerLink]="['/login']" (click)="logOut()"><i class="fa fa-sign-out" ></i>logouut</a>

      <a class="icon-signout"></a>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Produits</a>
        <ul class="header__menu__dropdown">
          <li><a (click)="produitOnPromo()">Promotion</a></li>
          <li><a (click)="produitDispo()">Disponible</a></li>
          <li><a href="#">Hors du stock</a></li>

        </ul>
      </li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
  </div>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i> tsawa9@gmail.com</li>
      <li>Free Shipping for all Order of $99</li>
    </ul>
  </div>
</div>

<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> tsawa9@gmail.com</li>
              <li>Free Shipping for all Order of $99</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img src="assets/img/language.png" alt="" />
              <div>English</div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </div>
            <div class="header__top__right__auth">
              <a *ngIf="!authService.userAuthenticated" [routerLink]="['/login']"  (click)="login()"><i class="fa fa-user"></i> Login</a>
              <a *ngIf="authService.userAuthenticated" [routerLink]="['/login']" (click)="logOut()"><i class="fa fa-sign-out" ></i>logouut</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a [routerLink]="['/produit/1/0']" class="logo">Tsawa9</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a [routerLink]="['/produit/1/0']"routerLinkActive="router-link-active" >Home</a></li>
            <li><a [routerLink]="['/offers']" routerLinkActive="router-link-active">Offers</a></li>
            <li><a href="#">Produits</a>
              <ul class="header__menu__dropdown">
                <li><a (click)="produitOnPromo()">Promotion</a></li>
                <li><a (click)="produitDispo()">Disponible</a></li>
                <li><a href="#">Hors du stock</a></li>

              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a  [routerLink]="['/cart']" routerLinkActive="router-link-active"><i class="fa fa-shopping-bag"></i>
              <span>
                <!-- {{cartService.getCurrentCart().nom}} |  -->
                {{cartService.getCurrentCart().items.size}}</span></a></li>
          </ul>
          <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul class="list-group" *ngIf="categories"  >
            <li class="list-group-item list-group-item-dark " aria-current="true"
                *ngFor="let c of categories._embedded.categories" (click)="getCategryById(c.idCategorie) "
                class="clickable" [ngClass]="currentCategorie==c?active:''" >{{c.nom}}

                <span *ngIf="authService.isAdmin()" class="pull-right" (click)="deleteCategorie(c.idCategorie)" style="color: red;">
                     <i class="bi bi-trash3-fill"></i>
                </span></li>
          </ul>
          <div class="clickable" type="btn" [routerLink]="['/categorie']" routerLinkActive="router-link-active" >

            <span *ngIf="authService.isAdmin()" style="color: darkgreen; font-size: large;">
              <i class="bi bi-patch-plus-fill mr-2"></i>Ajouter Categorie</span>

          </div>
        </div>

      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="What do yo u need?" (keyup)="onKey($event)"/>

                <div *ngFor="let item of searchproductFiltered">
                  {{ item.name }}

                </div>



              <button type="submit"  class="site-btn" ke (ke)="onKey($event)">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>1234567890</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
        <div >
          <div class="hero__text">

            <div>
              <app-new></app-new>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
