<div class="clickable" type="btn" [routerLink]="['/ajouterProduit']" routerLinkActive="router-link-active" >
    <span *ngIf="authService.isAdmin()" style="color: darkgreen; font-size: large;">
      <i class="bi bi-patch-plus-fill mr-2"></i>Ajouter Produit</span>

  </div>
<div class="container">
<div class="row" >

    <div class="col-md-6 " style="border: darkgrey; margin-bottom: 10px; margin-left: auto;"
         *ngFor="let p of products._embedded.products" >
         <!-- [routerLink]="['/detailProduit']" routerLinkActive="router-link-active" -->
<div class="card" >
      <!-- <div class=""> -->
        <div class="card-header shadow-sm text-center">
          <h4 class=" card-text"  >
            {{p.name}}
          </h4>
        </div>


        <div class="card-body">
          <img height="150"  class="img-fluid  text-center imd-rounded btn" src="{{this.produit.URL+'/image/'+p.id+'?ts='+getTS()}}"
               (click)="onProductDetails(p)"/>

          <div *ngIf="authService.isAdmin()">
            <p>
              <button (click)="onEditPhoto(p)">
                <span class="bi bi-pencil-square">

                </span>
              </button>
            </p>
            <div  *ngIf="editPhoto==true && currentProduct==p">
              <input type="file" (change)="onSelectFile($event)">
              <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
              <p><ngb-progressbar type="success" textType="white" [value]="progress" [showValue]="true"></ngb-progressbar></p>
              {{progress}}
            </div>

           </div>
           <div> {{p.description}}</div>
           <div>
            <label >Prix:
            {{p.price | number:'0.2'}}
          </label>
        </div>
            <div>
              <span *ngIf="p.promotion && p.stock">
                <i class="bi bi-bag-heart-fill" style="color: crimson;"></i>

              </span>
              <span *ngIf="p.selected">

              </span>
              <span *ngIf="p.stock">

                <i class="bi bi-check-circle-fill"></i>

              </span>
              <span  *ngIf="!p.stock">
                <i class="bi bi-x-circle-fill" style="color: brown;"></i>

              </span>



            </div>
          <div>
            <form #f="ngForm" (ngSubmit)="onAddToProduct(p)">
              <label for="" class="control-label">Quantité: </label>
              <input type="number" name="quantite"  [(ngModel)]="p.quantite"
                     style="width: 50px; border: antiquewhite">
              <!-- <button>
                <i class="bi bi-cart-plus-fill"  style="color: goldenrod; " ></i>
              </button> -->
            </form>


              <!-- <button type="button" class="btn btn-sm btn-outline-primary" ">
                Add to Cart
              </button> -->
              <span *ngIf="authService.isAdmin()" class="pull-right clickable" (click)="deleteProduit(p.id)" style="color: red; font-size: large;">
                <i class="bi bi-trash3-fill"></i>
           </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
